n8n-workflow.json
{
  "name": "Business Tinder — Channel Profile Parser",
  "nodes": [
    {
      "parameters": {
        "updates": ["channel_post"],
        "additionalFields": {}
      },
      "id": "trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Business Tinder Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition_has_text",
              "leftValue": "={{ $json.channel_post.text || $json.channel_post.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter",
      "name": "Has Text?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "raw_text",
              "name": "rawText",
              "value": "={{ $json.channel_post.text || $json.channel_post.caption || '' }}",
              "type": "string"
            },
            {
              "id": "photo_file_id",
              "name": "photoFileId",
              "value": "={{ $json.channel_post.photo ? $json.channel_post.photo[$json.channel_post.photo.length - 1].file_id : '' }}",
              "type": "string"
            },
            {
              "id": "username_extracted",
              "name": "username",
              "value": "={{ ($json.channel_post.text || $json.channel_post.caption || '').match(/@([a-zA-Z0-9_]+)/)?.[1] || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_photo",
              "leftValue": "={{ $json.photoFileId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has_photo",
      "name": "Has Photo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.photoFileId }}"
      },
      "id": "get_file",
      "name": "Get Photo URL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1130, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Business Tinder Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "photo_url",
              "name": "photoUrl",
              "value": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "build_url",
      "name": "Build Photo URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUSINESS_TINDER_API_URL }}/api/webhook/profiles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BUSINESS_TINDER_WEBHOOK_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $('Extract Data').item.json.username }}"
            },
            {
              "name": "bio",
              "value": "={{ $('Extract Data').item.json.rawText }}"
            },
            {
              "name": "photoUrl",
              "value": "={{ $json.photoUrl || '' }}"
            }
          ]
        }
      },
      "id": "send_to_api",
      "name": "Send to Business Tinder API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUSINESS_TINDER_API_URL }}/api/webhook/profiles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.BUSINESS_TINDER_WEBHOOK_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $('Extract Data').item.json.username }}"
            },
            {
              "name": "bio",
              "value": "={{ $('Extract Data').item.json.rawText }}"
            },
            {
              "name": "photoUrl",
              "value": ""
            }
          ]
        }
      },
      "id": "send_no_photo",
      "name": "Send Without Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 450]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "Has Text?", "type": "main", "index": 0 }]
      ]
    },
    "Has Text?": {
      "main": [
        [{ "node": "Extract Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Data": {
      "main": [
        [{ "node": "Has Photo?", "type": "main", "index": 0 }]
      ]
    },
    "Has Photo?": {
      "main": [
        [{ "node": "Get Photo URL", "type": "main", "index": 0 }],
        [{ "node": "Send Without Photo", "type": "main", "index": 0 }]
      ]
    },
    "Get Photo URL": {
      "main": [
        [{ "node": "Build Photo URL", "type": "main", "index": 0 }]
      ]
    },
    "Build Photo URL": {
      "main": [
        [{ "node": "Send to Business Tinder API", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
